body {
    background-color: #E3DFDF;
    align-items: center;
}

/* Titre de la page */
body h1 {
    -webkit-text-fill-color: white; /* Change la couleur intérieur du texte */
    -webkit-text-stroke: blue 1px; /* Change la couleur des bordures du texte */
    font-family: fantasy;
    text-shadow: 7px 5px 3px black; /* Rajoute une ombre au texte */
    text-align: center;
}

/* Présentation du projet */
#presentationSection {
    display: inline-flex;
    align-items: center;
    width: 100%;
}

/* Contenue de la présentation  */
#presentationText , #serverImage {
    margin: auto;
}

/* Image dans la présentation */
#serverImage {
    margin-right: 2vh;
    border-radius: 4vh;
    border: solid 1px transparent;
}

/* Texte dans la présentation */
#presentationText {
    margin-left: 2vh;
}

/*Zone de connexion Admin/User */
#loginSection {
    text-align: center;
    margin: 5vw auto;
}

/* Texte dans la zone de connexion */
#loginText {
    font-style: oblique;
    font-size: x-large;
    margin-bottom: 10vh;
    -webkit-text-stroke: blue 0.7px;
    -webkit-text-fill-color: white;
}

/* Bouton de connexion */
#loginBtn {
    font-family: cursive;
    font-size: 3vh;
    width: 15%;
    height: 5vh;
    border-radius: 15px;
    border: blue solid 2px;
    box-shadow: 5px 5px 15px black ;
}

#loginBtn:active {
    font-family: cursive;
    font-size: 3vh;
    width: 15%;
    height: 5vh;
    border-radius: 15px;
    border: blue solid 1.5px;
    box-shadow: 2px 2px 10px black ;
}

footer {
    text-align: center;
    font-size: large;
    font-family:'Times New Roman', Times, serif;
}

